h1{
   
    padding-top: 6%;
    padding-left: 40%;
    

}
ul{
    list-style-type: none;
    
            margin: 0%;
            padding: 0%;
            overflow: hidden;
            background-color:  rgb(127, 240, 255);
        }

li {
    float: left;
}
    li a{
        display: block;
        text-decoration: none;
        text-align: center;
        color: black;
        padding: 14px 16px;
     }

li a:hover{
    background-color: rgb(127, 255, 163);
 }

 aside{
    background-color:dimgray;
    width: 30%;
    height: 300px;
    float: right;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: pink;
    
 }
 aside a{
    color: coral;
 }
 aside figure img{
    width: 75%;
    height: 75%;
 }
 article{
    background-color: blanchedalmond;
    width: 58%;
    height: auto;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    float: left;
 }
 article li{
    float: none;
 }
 section{
    background-color: blanchedalmond;
    width: 58%;
    height: auto;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    float: left;
 }
 section li{
    float: none;
 }
 details{
    overflow: hidden;
    float: left;
    width: 97%;
    color: black;
    border: 2px ridge grey;
    padding: 10px;
 }
 footer{
    color: navy;
    overflow: hidden;
    float: left;

 }